<div class="row">
  <div class="col-lg-12">
    <div class="block-pay">
      <div class="radio">
        <label class="radio-inline">
          <br>
          <br>
          <input type="radio" checked="checked" name="payed" id="payed" value="paypal">
          <%= image_tag 'initiatives/PayPal.png', class: 'img-paypal' %>
        </label>
        <label class="radio-inline">
          <input type="radio" name="payed" id="stripe" value="stripe">
          <%= image_tag 'initiatives/stripe.png', class: 'img-stripe' %>
        </label>
      </div>
      <div class="paypal">
        <form class="form-horizontal" action="/donations/<%= @initiative.id %>/paypal" method="post">
          <input name="utf8" value="✓" type="hidden">
          <input name="authenticity_token" value="2K2rr1o6shb4lNK0zZwEfCBnmjpBnj78CAGvS1RTi8m+mnVE5F0kBSvZ93J7VCFxbyuaAAbat66jP7xQbRUxGg==" type="hidden">

          <div class="form-group">
            <div class="row">
              <div class="col-lg-2">
                <label class="initiative-new-form-names">Сума:</label>
              </div>
              <div class="col-lg-4">
                <div class="input-group">
                  <input type="text" class="form-control initiative-show-form-input" name="amount" id="amount" placeholder="Сума">
                  <textarea name="initiative_id" id="initiative_id" class="hidden"><%= @initiative.id %></textarea>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="show-many-value">
                  <select name="currency" class="initiative-show-form-input">
                    <!-- <option value="uah">Грн</option>-->
                    <option value="usd">$</option>
                    <!-- <option value="eur">&euro;</option>-->
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-sm-12 col-xs-12">
            <button class="initiative-button-support" id="form-button-stripe">
              оплаптити
            </button>
          </div>
        </form>
      </div>
      <div class="stripe" style="display: none">
        <form class="form-horizontal" action="<%= donations_stripe_path %>">
          <div class="form-group">
            <div class="row">
              <div class="col-lg-2">
                <label class="initiative-new-form-names">Сума:</label>
              </div>
              <div class="col-lg-4">
                <div class="input-group">
                  <input type="text" class="form-control initiative-show-form-input" name="amount" id="amount" placeholder="Сума">
                  <textarea name="initiative_id" id="initiative_id" class="hidden"><%= @initiative.id %></textarea>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="show-many-value">
                  <select name="currency" class="initiative-show-form-input">
                    <!-- <option value="uah">Грн</option>-->
                    <option value="usd">$</option>
                    <!-- <option value="eur">&euro;</option>-->
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="hidden">
            <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-amount="pay"
            data-name="ifCity"
            data-locale="auto">
            </script>
          </div>
          <div class="col-lg-12 col-sm-12 col-xs-12">
            <button class="initiative-button-support" id="form-button-stripe">
              оплаптити
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>