<div class="container">
  <div class="row initiative-edit-block">
    <div id="initiative-edit">
      <div class="col-lg-offset-1 col-lg-11">
        <p class="initiative-new-title"><%= t('views.initiative.edit.title') %></p>
        <%= form_for :initiative, url: initiative_path(@initiative), html: {multipart: true}, method: :put do |f| %>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <%= f.label t('views.form.main_picture'), class: 'initiative-new-form-names' %>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="initiative-new-file-block">
                  <div class="initiative-edit-file-title">Редагувати фото</div>
                  <input type="file" name="initiative[main_picture]" id="initiative_main_picture" size="1" class="initiative-edit-file-input">

                  <%= image_tag @initiative.main_picture.url, class: 'initiative-new-block-show-images' %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <%= f.label t('views.form.category'), class: 'initiative-new-form-names' %>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="block-with-margin"></div>
                <%= fields_for(@initiative_category) do %>
                    <%= collection_select(:category, :id, @all_categories, :id, :name, {}, {multiple: true, class: 'category_select', style: 'width: 100%'}) %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <%= f.label t('views.form.name'), class: 'initiative-new-form-names' %>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <%= f.text_field :title, required: :required, class: 'form-control initiative-new-form-input', placeholder: t('views.form.name') %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <%= f.label t('views.form.short_description'), class: 'initiative-new-form-names' %>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <%= f.text_field :short_description, required: :required, class: 'form-control initiative-new-form-input', placeholder: t('views.form.short_description') %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <%= f.label t('views.form.long_description'), class: 'initiative-new-form-names' %>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <%= f.text_area :long_description, required: :required, class: 'form-control initiative-new-form-input', placeholder: t('views.form.long_description') %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <%= f.label t('views.form.sum'), class: 'initiative-new-form-names' %>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <%= f.text_field :sum, required: :required, class: 'form-control initiative-new-form-input', placeholder: t('views.form.sum') %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <%= f.label t('views.form.video'), class: 'initiative-new-form-names' %>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <%= f.text_area :main_video, class: 'form-control initiative-new-form-input', placeholder: t('views.form.video') %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <%= f.label t('views.form.term_fundraiser'), class: 'initiative-new-form-names' %>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <%= f.number_field :term_fundraiser, required: :required, class: 'form-control initiative-new-form-input', placeholder: t('views.form.term_fundraiser') %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <%= f.label t('views.form.term_report'), class: 'initiative-new-form-names' %>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <%= f.number_field :term_report, required: :required, class: 'form-control initiative-new-form-input', placeholder: t('views.form.term_report') %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <%= f.label t('views.form.add_photos'), class: 'initiative-new-form-names' %>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <%= file_field_tag 'initiative_images[]', type: :file, multiple: true, class: 'initiative-new-form-input' %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-offset-4 col-lg-8 col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8 col-xs-offset-2 col-xs-8">
                <%= f.submit t('views.initiative.edit.title'), class: 'initiative-button-submit' %>
              </div>
            </div>
        <% end %>
        <% unless @initiative.initiative_images.empty? %>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <p class="initiative-edit-form-names"><%= t('views.form.old_photos') %></p>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                  <% @initiative.initiative_images.each do |images| %>
                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 ">
                        <div class="block-edit-small-images">
                          <%= form_for :initiative_images, url: edit_delete_images_initiative_path(@initiative), method: :post, remote: true do %>
                              <%= hidden_field_tag :initiative_photo_id, images.id %>
                              <button type="submit" class="show-delete-images">
                                <i class="fa fa-times show-close" aria-hidden="true"></i>
                                <%= image_tag images.initiative_images.url(:medium), class: 'edit-small-images' %>
                              </button>
                          <% end %>
                        </div>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>