<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2><%= t('views.initiative.fundraising_finished.title') %>:</h2>
      <% @initiative_fundraising_finished.each do |initiative| %>
          <h4><%= t('views.initiative.fundraising_finished.name') %>: <%= initiative.title %></h4>
          <h4><%= t('views.form.category') %>:
            <%= show_initiative_categories initiative %>
          </h4>
          <p>
            <%= link_to t('views.link_to.show'), initiative_path(initiative), class: 'btn btn-default' %>
            <%= link_to t('views.link_to.fundraising_finished'), started_implement_initiative_path(initiative.id), class: 'btn btn-success', data: {confirm: 'Ви впевнені?'} %>
            <%= link_to t('views.link_to.error_confirmation'), insufficient_funds_initiative_path(initiative), class: 'btn btn-danger', data: {confirm: 'Ви впевнені?'} %>
          </p>

      <% end %>
    </div>
  </div>
</div>
