<h2><%= t('views.initiative.new.title') %></h2>
<%= form_for :initiative, url: '/initiatives', html: {multipart: true}, method: :post do |f| %>
    <p>
      <%= f.label t('views.form.name') %>
      <%= f.text_field :title, required: :required %>
    </p>
    <p>
      <%= f.label t('views.form.main_picture') %>
      <%= f.file_field :main_picture %>
    </p>
    <p>
      <%= f.label t('views.form.video') %>
      <%= f.text_area :main_video %>
    </p>
    <p>
      <%= f.label t('views.form.short_description') %>
      <%= f.text_area :short_description, required: :required %>
    </p>
    <p>
      <%= f.label t('views.form.long_description') %>
      <%= f.text_area :long_description, required: :required %>
    </p>
    <p>
      <%= f.label t('views.form.sum') %>
      <%= f.text_field :sum, required: :required %>
    </p>
    <p>
      <%= f.label t('views.form.term_fundraiser') %>
      <%= f.text_field :term_fundraiser, required: :required %>
    </p>
    <p>
      <%= f.label t('views.form.term_report') %>
      <%= f.text_field :term_report, required: :required %>
    </p>
    <%= f.label t('views.form.category') %>
    <br/>

    <span>

	<% Category.all.each do |category| %>
	  <label>
        <%= check_box_tag :category_ids, category.id, @initiative.category_ids.include?(category), name:'category_ids[]' %>
        <%= category.name %>
      </label>
          <br/>
	<% end %>

    </span>

    <p>
      <%= f.submit t('views.initiative.new.title') %>
    </p>
<% end %>