<h2>Створити ініціативу</h2>
<%= form_for :initiative, url: '/initiatives', html: {multipart: true}, method: :post do |f| %>
    <p>
      <%= f.label 'Назва' %>
      <%= f.text_field :title, required: :required %>
    </p>
    <p>
      <%= f.label 'Фото' %>
      <%= f.file_field :main_picture %>
    </p>
    <p>
      <%= f.label 'Відео' %>
      <%= f.text_area :main_video %>
    </p>
    <p>
      <%= f.label 'Короткий опис' %>
      <%= f.text_area :short_description, required: :required %>
    </p>
    <p>
      <%= f.label 'Довгий опис' %>
      <%= f.text_area :long_description, required: :required %>
    </p>
    <p>
      <%= f.label 'Необхідна сума для виконання(від 100 до 50000)' %>
      <%= f.text_field :sum, required: :required %>
    </p>
    <p>
      <%= f.label 'Термін збору коштів(30 або 60) днів' %>
      <%= f.text_field :term_fundraiser, required: :required %>
    </p>
    <p>
      <%= f.label 'Термін після якого буде надано звіт(15 або 30) днів' %>
      <%= f.text_field :term_report, required: :required %>
    </p>
    <%= f.label 'Категорії' %>
    <br/>

    <span>

	<% Category.all.each do |category| %>
	  <label>
        <%= check_box_tag :category_ids, category.id, @initiative.category_ids.include?(category), name:'category_ids[]' %>
        <%= category.name %>
      </label>
          <br/>
	<% end %>

    </span>

    <p>
      <%= f.submit 'Додати' %>
    </p>
<% end %>