<h2><%= t('views.initiative.pending_approval.title') %>:</h2>
<% @initiative_approval.each do |initiative| %>
    <h4><%= t('views.initiative.pending_approval.name') %>: <%= initiative.title %></h4>
    <p><%= t('views.form.category') %>:
      <%= show_initiative_categories initiative %>
    </p>
    <p>
      <%= link_to t('views.link_to.show'), initiative_path(initiative), class: 'btn btn-default' %>
      <%= link_to t('views.link_to.success_confirmation'), success_confirmation_initiative_path(initiative.id), class: 'btn btn-success' %>
      <%= link_to t('views.link_to.error_confirmation'), error_confirmation_initiative_path(initiative), class: 'btn btn-danger' %>
    </p>

<% end %>