<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2><%= t('views.initiative.being_implemented.title') %>:</h2>
      <% @initiative_being_implemented.each do |initiative| %>
          <h4><%= t('views.initiative.fundraising_finished.name') %>: <%= initiative.title %></h4>
          <h4><%= t('views.form.category') %>:
            <%= show_initiative_categories initiative %>
          </h4>
          <p>
            <%= link_to t('views.link_to.show'), initiative_path(initiative), class: 'btn btn-default' %>
          </p>
      <% end %>
    </div>
  </div>
</div>
