<p>Назва: <%= @initiative.title %></p>
<p>Відео: <%== @initiative.main_video %></p>
<p>Короткий опис: <%= @initiative.short_description %></p>
<p>Довгий опис: <%= @initiative.long_description %></p>
<p>Сума: <%= @initiative.sum %></p>
<p>Термін збору коштів: <%= @initiative.term_fundraiser %></p>
<p>Термін після якого буде надано звіт: <%= @initiative.term_report %></p>