<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="initiative-show-block">
        <div class="block-show-big-images">
          <%= image_tag @initiative.main_picture.url, class: 'show-big-images' %>
        </div>
        <div class="row initiative-show-small-images-block">
          <% @initiative.initiative_images.take(8).each do |images| %>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                <div class="block-show-small-images">
                  <a type="button" data-toggle="modal" data-target="#model<%= images.id %>">
                    <%= image_tag images.initiative_images.url(:thumb), class: 'show-small-images' %>
                  </a>
                  <!-- Modal -->
                  <div class="modal fade block-modal-images-size" id="model<%= images.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <%= image_tag images.initiative_images.url, class: 'show-image-in-modal-window' %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <a type="button" data-toggle="modal" data-target="#model-all-images">
              <p><i class="fa fa-angle-down" aria-hidden="true"></i></p>
            </a>
            <!-- Modal -->
            <%= render 'initiatives/show_all_photo_in_modal_window', locals: {initiative: @initiative} %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
      <p><%= @initiative.title %></p>

      <p class="initiative-long-description"><%= @initiative.long_description %></p>

      <p class="initiative-list-categories">Категорія:
        <%= show_initiative_categories @initiative %>
      </p>

      <div class="row">
        <div class="col-lg-12">
          <p class="initiative-need-sum"><%= t('views.initiative.show.need_sum') %>: <b><%= @initiative.sum %> грн</b>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p class="initiative-collected"><%= t('views.initiative.show.collected') %>:
            <b><%= @initiative.collected_amount %> грн</b>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p class="initiative-remains"><%= t('views.initiative.show.remains') %>:
            <b><%= initiatives_days_left @initiative %> днів</b></p>
        </div>
      </div>
      <% unless @initiative.user.nil? %>
      <div class="row">
        <div class="col-lg-12">
          <p class="initiative-remains"><%= t('views.initiative.show.user_info') %>:
            <a type="button" data-toggle="modal" data-target="#model<%= @initiative.user.id %>">
              <b><%= @initiative.user.name %></b>
            </a>
          </p>
          <!-- Modal -->
          <div class="modal fade block-modal-images-size" id="model<%= @initiative.user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <p class="show-user-description-in-initiative">
                    <b class="show-user-name-in-initiative"><%= @initiative.user.name %></b>
                    <%= image_tag @initiative.user.avatar.url, class: 'show-user-image-in-initiative' %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <a class="initiative-button-support" id="button-support"><%= t('views.initiative.show.support') %></a>
        </div>
      </div>
      <% if user_signed_in? %>
          <%= render 'initiatives/show_payed_block', locals: {initiative: @initiative} %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-sm-12 col-xs-12">
      <div class="initiative-show-video">
        <% if @initiative.main_video.empty? %>
            <%= image_tag @initiative.main_picture.url, class: 'show-big-images-instead' %>
        <% else %>
            <%== @initiative.main_video %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @initiative.being_implemented? || @initiative.audit_implemented? %>
      <p class="text-center">Звіт до ініціативи:</p>
      <% @initiative.timelines.each do |timeline| %>
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12">
                    <p class="initiative-new-form-names"><b>Назва:</b> <%= timeline.title %>
                      <b class="right"><%= timeline.date.to_date %></b>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12">
                    <p class="initiative-new-form-names"><b>Опис:</b>

                      <%= timeline.description %></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="initiative-timeline-video">
                  <%== timeline.video %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>
  <div class="row">
    <div class="col-lg-12">
      <div class="initiative-show-share">
        <p><%= t('views.initiative.show.share') %>
          <b class="vk"><i class="fa fa-vk" aria-hidden="true"></i></b>
          <b class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></b>
          <b class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></b>
          <b class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></b>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div id="disqus_thread"></div>
      <script>
          (function () { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = '//ifcity.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">
        comments powered by Disqus.
      </a></noscript>
    </div>
  </div>
</div>
