<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2><%= t('views.admins.index.title') %>:</h2> <br/>
      <% @admins.each do |items| %>
          <h4><%= t('views.form.email') %>: <%= items.email %></h4>

          <p>
            <%= link_to t('views.link_to.show'), admin_path(items), class: 'btn btn-default' %>

            <%= link_to t('views.link_to.edit'), edit_admin_path(items), class: 'btn btn-warning' %>

            <%= link_to t('views.link_to.delete'), admin_path(items), method: :delete, class: 'btn btn-danger', data: {confirm: 'Ви впевнені?'} %>
          </p>

      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2>Всі користувачів: </h2> <br/>
      <% @users.each do |items| %>
          <h4><%= t('views.form.email') %>: <%= items.email %>, Ім'я: <%= items.name %></h4>

          <p>
            <%= link_to t('views.link_to.show'), admin_path(items), class: 'btn btn-default' %>

            <%= link_to t('views.link_to.edit'), edit_admin_path(items), class: 'btn btn-warning' %>

            <%= link_to t('views.link_to.delete'), admin_path(items), method: :delete, class: 'btn btn-danger', data: {confirm: 'Ви впевнені?'} %>
          </p>

      <% end %>
    </div>
  </div>
</div>

