<h2>Додати</h2>
<%= form_for :user, url: '/admins', method: :post do |f| %>
    <div class="field">
      <%= f.label 'Імя' %><br/>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label 'Пошта' %><br/>
      <%= f.text_field :post %>
    </div>

    <div class="field">
      <%= f.label 'Телефон' %><br/>
      <%= f.number_field :phone %>
    </div>

    <div class="field">
      <%= f.label 'Фото' %>
      <%= f.file_field :avatar %>
    </div>
    <div class="field">
      <%= f.label 'Email' %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label 'Пароль' %>
      <%= f.text_field :password %>
    </div>
    <p>
      <%= f.submit 'Додати' %>
    </p>
<% end %>
