<div class="container">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <p class="show-title-in-reports"><%= t('views.home.index.payments') %> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Користувач</th>
          <th>Кількість грошей</th>
          <th>Який банкінг</th>
          <th>Ініціатива</th>
          <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        <% @donate.each do |donate| %>
            <tr>
              <td><%= donate.user.name %></td>
              <td><%= donate.amount %></td>
              <td><%= donate.internet_banking %></td>
              <td>
                <a href="
                  <%= initiative_path(donate.initiative.id) %>">
                  <%= donate.initiative.title %>
                </a>
              </td>
              <td><%= donate.created_at %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>