<% @array_initiative_categories.each do |initiative_categories| %>
    <% initiative_categories.each do |items| %>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="initiative-list-block">
            <div class="block-list-images">
              <a href="<%= initiative_path(items.initiative) %>">
                <%= check_or_uploaded_picture_initiative items.initiative %>
              </a>
            </div>
            <div class="block-list-initiative-description">
              <p class="initiative-list-title">
                <%= items.initiative.title %>
              </p>

              <p class="initiative-list-short-description">
                <%= items.initiative.short_description %>
              </p>

              <p class="initiative-list-days-left">
                <%= t('views.home.index.remains') %> <b>10 днів</b>
              </p>
            </div>
          </div>
        </div>
    <% end %>
<% end %>
