<div class="row">
  <div class="col-lg-12">
    <%- if controller_name != 'sessions' %>
        <%= link_to "Ввійти", new_session_path(resource_name), class: 'devise-registration-button-submit' %><br/>
    <% end -%>
  </div>
  <div class="col-lg-12">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Зареєструватись", new_registration_path(resource_name), class: 'devise-registration-button-submit' %>
        <br/>
    <% end -%>
  </div>
  <div class="col-lg-12">
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Забули свій пароль?", new_password_path(resource_name), class: 'devise-registration-button-submit' %>
        <br/>
    <% end -%>
  </div>
  <div class="col-lg-12">
    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <%= link_to "Не отримали інструкції для підтвердження?", new_confirmation_path(resource_name), class: 'devise-registration-button-submit' %>
        <br/>
    <% end -%>
  </div>
  <div class="col-lg-12">
    <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
        <%= link_to "Не отримали інструкції щоб розблокувати?", new_unlock_path(resource_name), class: 'devise-registration-button-submit' %>
        <br/>
    <% end -%>
  </div>
</div>