<div class="container">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
    <p class="show-title-in-reports"><%= t('views.home.index.report') %> </p>
    </div>
  </div>
  <div class="row show-list-initiatives">
    <div id="show-initiatives">
      <% @initiatives.each do |initiative| %>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="initiative-list-block">
              <div class="block-list-images">
                <a href="<%= initiative_path(initiative) %>">
                  <%= check_or_uploaded_picture_initiative initiative %>
                </a>
              </div>
              <div class="block-list-initiative-description">
                <p class="initiative-list-title">
                  <%= initiative.title %>
                </p>

                <p class="initiative-list-short-description">
                  <%= initiative.short_description %>
                </p>

                <p class="initiative-list-days-left">
                  <%= t('views.home.index.remains') %> <b><%= initiatives_days_left initiative %> днів</b>
                </p>
              </div>
            </div>
          </div>
      <% end %>
      <div id="show-initiatives-more">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="list-down-block">
      <%= link_to_next_page @initiatives, fa_icon('sort-desc'), class: 'next-page-pagination', remote: true %>
    </div>
  </div>
</div>