<% @initiatives.each do |initiative| %>
    <div class="col-lg-4">
      <div class="initiative-list-block">
        <div class="block-list-images">
          <a href="/user_panels_initiative/<%= initiative.id %>">
            <%= check_or_uploaded_picture_initiative initiative %>
          </a>
        </div>
        <div class="block-list-initiative-description">
          <p class="initiative-list-title">
            <%= initiative.title %>
            <b><%= show_description_on_what_state_initiative initiative %></b>
          </p>

          <p class="initiative-list-short-description">
            <%= show_for_confirmation_initiative_path(initiative) %>
            <% if initiative.draft? || initiative.rejected? %>
                <%= link_to t('views.link_to.edit'), edit_initiative_path(initiative), class: 'btn btn-warning' %>
                <br/>

                <%= link_to t('views.link_to.delete'), initiative_path(initiative), method: :delete, class: 'btn btn-danger', data: {confirm: 'Ви впевнені?'} %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
<% end %>