<h3>Мої ініціативи:</h3><br/>

<% @initiatives.each do |initiative| %>
    <h4>Назва: <%= initiative.title %></h4>
    <p>Категорія:
      <%= show_initiative_categories initiative %>
    </p>
    <p>
      <%= link_to 'Показати', initiative_path(initiative), class: 'btn btn-default' %> |

      <%= link_to 'Редагувати', edit_initiative_path(initiative), class: 'btn btn-warning' %> |

      <%= link_to 'Видалити', initiative_path(initiative), method: :delete, class: 'btn btn-danger', data: {confirm: 'Ви впевнені?'} %>
    </p>

<% end %>