<div class="container">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-11 col-xs-12">
      <div class="row">
        <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-xs-12">
          <p class="user-panel-show-title">
            <%= t('views.user_panel.show.title') %>
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
          <%= link_to 'Редагувати', edit_user_registration_path, class: 'user-panel-button-edit-user' %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12">
          <p class="user-panel-show-names-user-information">Фото: </p>
        </div>
        <div class="col-lg-8 col-md-8 col-xs-12">
          <div class="user-panel-show-new-file-block">
            <% if @user.avatar_file_name[0..3] == 'http' %>
                <img src="<%= @user.avatar_file_name %>" class="user-panel-show-block-show-images">
            <% end %>
            <% unless @user.avatar.url == '/images/original/missing.png' %>
                <%= image_tag @user.avatar.url, class: 'user-panel-show-block-show-images' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12">
          <p class="user-panel-show-names-user-information">
            <%= t('views.user_panel.show.name') %>:
          </p>
        </div>
        <div class="col-lg-8 col-md-8 col-xs-12">
          <p class="user-panel-show-names-user-information">
            <%= @user.name %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12">
          <p class="user-panel-show-names-user-information">
            <%= t('views.user_panel.show.post') %>:
          </p>
        </div>
        <div class="col-lg-8 col-md-8 col-xs-12">
          <p class="user-panel-show-names-user-information">
            <%= @user.post %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12">
          <p class="user-panel-show-names-user-information">
            <%= t('views.user_panel.show.phone') %>:
          </p>
        </div>
        <div class="col-lg-8 col-md-8 col-xs-12">
          <p class="user-panel-show-names-user-information">
            <%= @user.phone %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12">
          <p class="user-panel-show-names-user-information">
            <%= t('views.user_panel.show.email') %>:
          </p>
        </div>
        <div class="col-lg-8 col-md-8 col-xs-12">
          <p class="user-panel-show-names-user-information">
            <%= @user.email %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>