<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="initiative-show-block">
        <div class="block-show-big-images">
          <%= image_tag @initiative.main_picture.url, class: 'show-big-images' %>
        </div>
        <div class="row initiative-show-small-images-block">
          <% @initiative.initiative_images.take(8).each do |images| %>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                <div class="block-show-small-images">
                  <a type="button" data-toggle="modal" data-target="#model<%= images.id %>">
                    <%= image_tag images.initiative_images.url(:thumb), class: 'show-small-images' %>
                  </a>
                  <!-- Modal -->
                  <div class="modal fade block-modal-images-size" id="model<%= images.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <%= image_tag images.initiative_images.url, class: 'show-image-in-modal-window' %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <a type="button" data-toggle="modal" data-target="#model-all-images">
              <p><i class="fa fa-angle-down" aria-hidden="true"></i></p>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="model-all-images" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="row">
                      <% @initiative.initiative_images.each do |images| %>
                          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                            <div class="block-show-small-images">
                              <a type="button" data-toggle="modal" data-target="#model<%= images.id %>">
                                <%= image_tag images.initiative_images.url(:thumb), class: 'show-small-images' %>
                              </a>
                              <!-- Modal -->
                              <div class="modal fade block-modal-images-size" id="model<%= images.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-body">
                                      <%= image_tag images.initiative_images.url, class: 'show-image-in-modal-window' %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
      <p><%= @initiative.title %></p>

      <p class="initiative-long-description"><%= @initiative.long_description %></p>

      <p class="initiative-list-categories">Категорія:
        <%= show_initiative_categories @initiative %>
      </p>

      <div class="row">
        <div class="col-lg-12">
          <p class="initiative-need-sum"><%= t('views.initiative.show.need_sum') %>: <b><%= @initiative.sum %> грн</b>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p class="initiative-collected"><%= t('views.initiative.show.collected') %>: <b><%= @initiative.sum %> грн</b>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p class="initiative-remains"><%= t('views.initiative.show.remains') %>:
            <b><%= initiatives_days_left @initiative %> днів</b></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-sm-12 col-xs-12">
      <div class="initiative-show-video">
        <% if @initiative.main_video.empty? %>
            <%= image_tag @initiative.main_picture.url, class: 'show-big-images-instead' %>
        <% else %>
            <%== @initiative.main_video %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @initiative.being_implemented? %>
      <p class="text-center">Звіт до ініціативи:</p>
      <% @initiative.timelines.each do |timeline| %>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12">
                    <p class="initiative-new-form-names">Назва: <%= timeline.title %>,
                      Дата: <%= timeline.date.to_date %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12">
                    <p class="initiative-new-form-names">Опис:</p>

                    <p class="initiative-new-form-names"><%= timeline.description %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      <p class="text-center">Додати звіт</p>

      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <%= form_for :timeline, url: "/initiatives/#{@initiative.id}/timeline", method: :post do |f| %>
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-xs-12">
                    <%= f.label 'Назва', class: 'initiative-new-form-names' %>
                  </div>
                  <div class="col-lg-8 col-md-8 col-xs-12">
                    <%= f.text_field :title, required: :required, class: 'form-control initiative-new-form-input', placeholder: t('views.form.name') %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-xs-12">
                    <%= f.label 'Дата', class: 'initiative-new-form-names' %>
                  </div>
                  <div class="col-lg-8 col-md-8 col-xs-12">
                    <%= f.date_select :date, required: :required, class: 'form-control initiative-new-form-input', placeholder: t('views.form.name') %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-xs-12">
                    <%= f.label 'Опис', class: 'initiative-new-form-names' %>
                  </div>
                  <div class="col-lg-8 col-md-8 col-xs-12">
                    <%= f.text_area :description, required: :required, class: 'form-control initiative-new-form-input', placeholder: t('views.form.name') %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-offset-4 col-lg-8">
                    <%= f.submit 'Додати', class: 'initiative-button-submit' %>
                    <%= spinner_css %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
  <div class="row">
    <div class="col-lg-12">
      <div class="initiative-show-share">
        <p><%= t('views.initiative.show.share') %>
          <b class="vk"><i class="fa fa-vk" aria-hidden="true"></i></b>
          <b class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></b>
          <b class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></b>
          <b class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></b>
        </p>
      </div>
    </div>
  </div>
</div>
