<h2><%= t('views.category.edit.title') %></h2>
<%= form_for :category, url: category_path(@category), method: :put do |f| %>
    <div class="field">
      <%= f.label t('views.form.name') %><br/>
      <%= f.text_field :name %>
    </div>
    <p>
      <%= f.submit t('views.category.edit.title') %>
    </p>
<% end %>
