<h2><%= t('views.category.new.title') %></h2>
<%= form_for :category, url: '/categories', method: :post do |f| %>
    <div class="field">
      <%= f.label t('views.form.name') %><br/>
      <%= f.text_field :name %>
    </div>
    <p>
      <%= f.submit t('views.category.new.title') %>
    </p>
<% end %>
