<header class="header">
  <a href="#" class="logo">
    <!-- Add the class icon to your logo image or logo icon to add the margining -->
    AdminLTE
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <div class="navbar-right my-admin-lte">
      <ul class="nav navbar-nav">
        <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope"></i>
            <span class="label label-success"><%= @initiatives_pending_approval.count %></span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">Ви маєте <b><%= @initiatives_pending_approval.count %></b> непідтверджених ініціатив</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <% @initiatives_pending_approval.take(5).each do |initiative| %>
                    <li><!-- start message -->
                      <a href="<%= initiative_path(initiative) %>">
                        <div class="pull-left">
                          <%= image_tag initiative.user.avatar.url(:medium), class: 'img-circle' unless initiative.user.avatar.nil? %>
                        </div>
                        <h4>
                          Користувач <%= initiative.user.email %>
                          <small><i class="fa fa-clock-o"></i> 5 mins</small>
                        </h4>
                        <p>Назва ініціативи <%= initiative.title %></p>
                      </a>
                    </li>
                    <!-- end message -->
                <% end %>
              </ul>
            </li>
            <li class="footer">
              <a href="<%= pending_approval_initiatives_path %>">Показати більше непідтверджених ініцціатив</a></li>
          </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-user"></i>
            <span><%= current_user.email %> <i class="caret"></i></span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header bg-light-blue">
              <%= image_tag current_user.avatar.url(:medium), class: 'img-circle' %>
              <p>
                <%= current_user.email %>
              </p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <%= link_to 'показати', user_panels_information_path, class: 'btn btn-default btn-flat' %>
                <%= link_to 'редагувати', edit_admin_path(current_user.id), class: 'btn btn-default btn-flat' %>
              </div>
              <div class="pull-right">
                <%= link_to 'вийти', destroy_user_session_path, method: :delete, class: 'btn btn-default btn-flat' %>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>