<div class="footer-block">
  <div class="footer-left-line"></div>
  <p class="footer-text-left-top"><%= t('views.layout.application.header.initiative') %></p>

  <p class="footer-text-left-middle"><%= t('views.layout.application.header.city') %></p>

  <p class="footer-text-left-bottom"><%= t('views.layout.application.header.name_city') %></p>

  <div class="footer-block-center">
    <p class="footer-text-center">© 2016</p>

  </div>
  <div class="footer-block-right">
    <p class="footer-text-right">
      <%= fa_icon 'question' %>
      <%= link_to 'Як це працює', '#', class: 'footer-text-right-a' %>
    </p>

    <p class="footer-text-right">
      <%= fa_icon 'usd' %>
      <%= link_to 'Поверненння коштів', '#', class: 'footer-text-right-a' %>
    </p>

    <p class="footer-text-right">
      <%= fa_icon 'info' %>
      <%= link_to 'Про сайт', '#', class: 'footer-text-right-a' %>
    </p>
  </div>
</div>