<div class="container footer-block">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="footer-left-line"></div>
      <p class="footer-text-left-top"><%= t('views.layout.application.header.initiative') %></p>

      <p class="footer-text-left-middle"><%= t('views.layout.application.header.city') %></p>

      <p class="footer-text-left-bottom"><%= t('views.layout.application.header.name_city') %></p>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="footer-block-center">
        <p class="footer-text-center">© 2016</p>

      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="footer-block-right">
        <p class="footer-text-right">
          <%= fa_icon 'question' %>
          <%= link_to 'Як це працює', '#', class: 'footer-text-right-a' %>
        </p>

        <p class="footer-text-right">
          <%= fa_icon 'usd' %>
          <%= link_to 'Поверненння коштів', '#', class: 'footer-text-right-a' %>
        </p>

        <p class="footer-text-right">
          <%= fa_icon 'info' %>
          <%= link_to 'Про сайт', '#', class: 'footer-text-right-a' %>
        </p>
      </div>
    </div>
  </div>
</div>