<!DOCTYPE html>
<html>
<head>
  <title>Initiatives</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
    <%= form_tag('/search', method: 'get') do %>
        <%= label_tag(:search, 'Пошук ініціатив:') %>
        <%= text_field_tag(:search) %>
        <%= submit_tag('Пошук') %>
    <% end %>
    <%= current_user.email %>
    <% if can? :manage, :all %>
        <h3><%= link_to 'Перейти на сторінку адміністрації', '/admin' %> ||
    <% end %>
    <%= link_to 'Головна', root_path %>||
    <%= link_to 'Ініціативи', '/initiatives' %>||
    <%= link_to 'Вийти', destroy_user_session_path, method: :delete %></h3>
    <br/>
<% else %>
    <%= link_to 'Ввійти', new_user_session_path %>
    <%= link_to 'Зареєстуватись', new_user_registration_path %>
<% end %>
<% flash.each do |name, msg| %>
    <div class="pad margin no-print">
      <%= content_tag :div, :class => "alert alert-#{ name == 'error' ? "danger" : "success" } alert-dismissable", :role => "alert" do %>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
          <%= msg %>
      <% end %>
    </div>
<% end %>
<%= yield %>

</body>
</html>
